body { 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index{
	background: url(../static/images/welcome.jpg) no-repeat center center fixed; 
}

.welcome{
	background: url(../static/images/welcome.jpg) no-repeat center center fixed; 


}

.home{
	background: url(../static/images/welcome.jpg) no-repeat center center fixed;
	
}